includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 9
    phpVersion: 80100
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    doctrine:
        objectManagerLoader: tests/doctrine-orm-bootstrap.php
