$enable-responsive-spacings: false;

@use '../../node_modules/@picocss/pico/scss/pico.scss';

[data-theme=light],
:root:not([data-theme=dark]) {
  --primary: #212121;
  --primary-hover: #616161;
  --secondary: #616161
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --primary: #212121;
    --primary-hover: #616161;
    --secondary: #616161
  }
}

[data-theme=dark] {
  --primary: #212121;
  --primary-hover: #616161;
  --secondary: #616161
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --primary: #212121;
    --primary-hover: #616161;
    --secondary: #616161
  }
}

html,
body {
  background-color: #000;
}

body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh);
  padding: 0;
}

article {
  padding: 0;
  overflow: hidden;

  div {
    padding: 1rem;
  }
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
}

article div:nth-of-type(2) {
  display: none;
  background-color: var(--secondary);
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}

body > footer {
  padding: 1rem 0;
}
